<h3> Create a Post for <%= @category.title %> </h3>
<%= form_for [@category, @post] do |f| %>
  <%= f.label :title, "Title: " %>
  <%= f.text_field :title %><br>

  <%= f.label "Location: " %>
  <%= f.text_field :location %><br>

  <%= f.label "Body: " %>
  <%= f.text_area :body %><br>

  <%= f.submit %>
<% end %>